body,
html {
    width: 100%;
    height: 100%;
}

a,button{transition: all .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.content img{
    width: 100%;
}

#preloader {
    position: fixed;
    z-index: 9999999;
    top: 0; bottom: 0;
    right: 0; left: 0;

    background: #fff;
}

.inner {
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;

    width: 54px;
    height: 54px;
    margin: auto;
}

.page-loader{
 	display:block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fefefe;
	z-index: 100000;
}

#preloader span.loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-size: 10px;
  text-indent: -12345px;
  border-top: 1px solid rgba(0,0,0, 0.08);
  border-right: 1px solid rgba(0,0,0, 0.08);
  border-bottom: 1px solid rgba(0,0,0, 0.08);
  border-left: 1px solid rgba(0,0,0, 0.5);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

   -webkit-animation: spinner 700ms infinite linear;
   -moz-animation: spinner 700ms infinite linear;
   -ms-animation: spinner 700ms infinite linear;
   -o-animation: spinner 700ms infinite linear;
   animation: spinner 700ms infinite linear;

  z-index: 100001;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.topnav {
    font-size: 16px;
    font-weight: 400;
}
.topnav .navbar-nav>li>a {
    height: 65px;
    line-height: 35px;
}


a.navbar-brand {
  height: 65px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    margin-top: 50px;
    padding-top: 20px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url(../../assets/images/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.showcase {
    padding: 50px 0;
    background-color: #f8f8f8;
}
.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../../assets/images/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}
.page {
  margin: 100px 0 90px;
}
@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}
#contact-form {
  margin: 40px 0;
}
footer {
    padding: 50px 0;
    background-color: #39454B;
    color:#737A7D;
    font-weight: 400;
    font-size: 14px;
}
ul.list-inline {
  font-size: 28px;
}
ul.list-inline a {
    color: #737A7D;
}
ul.list-inline a:hover {
    color: #fff;
}
p.copyright {
    margin: 0;
    font-size: 16px;
}
ul.list-social-icons {
  font-size: 20px;
}
ul.list-social-icons a i:hover {
  color: #333333;
}
.map {
  margin-bottom: -5px;
}
.helper-margin-bottom-20 {
  margin-bottom: 20px;
}
.helper-margin-top-20 {
  margin-top: 20px;
}
.helper-margin-bottom-50 {
  margin-bottom: 50px;
}
.helper-margin-top-50 {
  margin-top: 50px;
}
section.actividades.page .activity h3 { cursor: pointer; }
section.actividades.page .activity h4 { cursor: pointer; }
section.actividades.page .activity img { cursor: pointer; }
section.actividades.page .activity .img-container { cursor: pointer; }
section.actividades.page .activity-modal{
	top: 0;
	left: 0;
	z-index: 2000;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}
section.actividades.page .activity-modal .container{
	background-color: #000;
	padding: 20px;
	position: relative;
	width: 540px;
	max-height: 96%;
	overflow-y: auto;

}
section.actividades.page .activity-modal .container img{
	width: 500px;
	margin-bottom: 10px;
}
section.actividades.page .activity-modal .container p{
	margin-top: 10px;
}
div.close-button{
	position: absolute; 
	width: 12px;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
