;;
==
{##}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-xing"></i></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-lg-4">
                <h3>Start now with our expertise.</h3>
            </div>
        </div>
        <p class="copyright">&copy; Your Company {{ "now"|date("Y") }}. All Rights Reserved</p>
    </div>
</footer>
