[viewBag]
==
{##}
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <div class="navbar-header"><!-- Brand and toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="{{ 'home'|page }}" >
            <i style="width: 40px;height: 40px;background-size: cover;display: inline-block;background-image: url({{'assets/svg/logo_icon.svg'|theme }});"></i>
            <span style="margin-left: 20px;width: 220px;height: 40px;background-size: cover;display: inline-block;background-image: url({{'assets/svg/logo_texto.svg'|theme }});"></span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="{% if this.page.id == 'el-parque' %}active{% endif %}">
            <a href="{{ 'el-parque'|page }}">El Parque</a>
          </li>
          <li class="{% if this.page.id == 'otros-parques' %}active{% endif %}">
            <a href="{{ 'otros-parques'|page }}">Otros Parques</a>
          </li>
          <li class="{% if this.page.id == 'uso-de-instalaciones' %}active{% endif %}">
            <a href="{{ 'uso-de-instalaciones'|page }}">Uso de Instalaciones</a>
          </li>
          <li class="{% if this.page.id == 'como-llegar' %}active{% endif %}">
            <a href="{{ 'como-llegar'|page }}">Como Llegar</a>
          </li>
          <li class="{% if this.page.id == 'contact' %}active{% endif %}">
            <a href="{{ 'contact'|page }}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
