==
{% set posts = blogPosts.posts %}

<section class="parque page">
    {% for post in posts %}
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h4>
                <div class="content">{{ post.content_html|raw }}</div>
            </div>
        </div>
    {% else %}
        <div>
            <p>{{ noPostsMessage }}</p>
        </div>
    {% endfor %}
</section>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}